[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = matarafael2004@gmail.com
	name = Rafa-Mt
[http]
	postBuffer = 524288000
